@charset "UTF-8";

@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

@import url('https://webfontworld.github.io/goodchoice/Jalnan.css');

@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

@import url('https://webfontworld.github.io/woowahan/BMJua.css');

/* font-family: 'GmarketSans'; */
/* font-family: 'Jalnan'; */
/* font-family: 'Pretendard'; */
/* font-family: 'BMJua'; */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'GmarketSans';
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    min-width: 1320px;
    background-color: rgb(253, 250, 247);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* 마우스 따라다니는 선 */
html {
    cursor: none;
    scroll-behavior: smooth;
}

#drawing_line {
    position: relative;
    z-index: 1500;
    height: 0;
}

#drawing_line>svg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#drawing_line>svg .drawing_line_polyline {
    fill: none;
    stroke: #f39fbf;
    stroke-width: 0;
}

#drawing_line>svg .drawing_line_circle {
    fill: #f39fbf;
}

/* 스크롤바 꾸미기 */
body::-webkit-scrollbar {
    /*스크롤바 전체*/
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    /*스크롤바 막대*/
    background-color: #f1b3c3;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    /*스크롤바 막대 외부*/
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* header */
header {
    background-color: rgb(253, 250, 247);
    position: relative;
    width: 100%;
    z-index: 1000;
    /* box-shadow: 0 2px 3px #e0d3c0; */
}

.header_in {
    width: 90%;
    max-width: 1700px;
    margin: auto;
    padding-top: 20px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    background-color: rgb(253, 250, 247);

}

.logo {
    display: block;
    padding-bottom: 25px;
}

.nav {
    width: 60%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding-top: 10px;
}

.nav>li>a {
    font-size: 15px;
    font-weight: bold;
    display: block;
    color: #5e5e5e;
}

.member {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding-top: 10px;
}

.member li a {
    color: #ffd092;
    display: block;
    font-weight: bold;
    padding-left: 20px;
    margin-left: 30px;
}

.member_login {
    background: url(../images/sub3/login.png) no-repeat 0% 30%;
}

.member_cart {
    background: url(../images/sub3/cart.png) no-repeat 0% 10%;
}

.member li a:hover {
    opacity: 70%;
}

.nav>li:hover>a {
    color: #999;
}

.sub a:hover {
    color: #999;
}

/* 서브 */
.nav>li {
    position: relative;
    flex: 1;
    text-align: center;
}

.nav .sub_bg {
    background-color: rgb(245, 238, 232);
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 80px;
    display: none;
    z-index: 99;
}

.sub {
    position: absolute;
    width: 100%;
    padding-top: 50px;
    display: none;
    z-index: 100;
}

.sub a {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #666;
    display: block;
    font-family: 'Pretendard';
    padding-bottom: 10px;
}

/* 배너 */
.banner {
margin: auto;
    width: 100%;
    min-width: 1320px;
    max-width: 1920px;
    margin-bottom: 100px;
    position: relative;
}

.banner img {
    width: 100%;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin-left: -160px;
    color: white;
    font-family: 'Jalnan';
    font-size: 44px;
    background: url(../images/sub3/title_bg.png) no-repeat 0% 55%;
    padding-left: 40px;
}

/* 리빙 푸드 탭 */

.living_food{
    background-color: white;
    border-radius: 50px;
    font-family: 'Pretendard';
    font-size: 20px;
    width: 468px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding: 20px;
    text-align: center;
    font-weight: 600;
    color: #5e5e5e;
    box-shadow: 0 3px 6px rgb(223, 218, 218);
    margin: auto;
    margin-bottom: 100px;
}
.living_food li{
    flex: 1;
}
.Food{ color: #e785ab;
    font-weight: 900;
    text-decoration: underline;}
.Living:hover{
    color: #e785ab;
    font-weight: 900;
    text-decoration: underline;
}

/* 셀렉트바 */
.select_box{
    width: 75%;
    max-width: 1320px;
    margin: auto;
}
select {
    width: 120px;
    padding: .8em .9em;
    font-family: 'Pretendard';
    background: url(../images/sub3/select.png) no-repeat 93%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    border-radius: 80px;
  }
  
  select::-ms-expand {
    /* for IE 11 */
    display: none;
  }

  /* 상품 */
  .product_box{
    width: 1200px;
    margin: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
  }
  .product_box1{
    background-color: white;
    border-radius: 60px;
    box-shadow: 0 0px 10px rgb(223, 218, 218);
    margin: 40px 15px 30px 30px;
    padding: 20px;
  }
  .p{
    overflow: hidden;
  }
  .product_box1 p{
    font-family: 'Jalnan';
    font-size: 19px;
    margin-top: 10px;
  }
  .product_box1 h4{
    font-family: 'Pretendard';
    font-size: 20px;
    color: #e785ab;
    margin-bottom: 10px;
  }
  .sky_bg{
    position: absolute;
    right: -100px;
    top: 0px;
    animation: ani1 0.7s linear alternate infinite;
}
.flower_bg{
    position: absolute;
    left: -150px;
    top: 160px;
    animation: ani2 3s linear infinite;
}
@keyframes ani1{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(8px);
    }
}
@keyframes ani2 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
.product_box1_in{
    background: url(../images/sub3/cart_hover.png) no-repeat;
    width:154px ;
    height: 44px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.4s;
}
.product_box1 .span{
    position: relative;
    display: inline-block;
}
.product_box1 .span:hover .product_box1_in{
opacity: 1;
}
.product_box1_in li{
    flex: 1; 
    margin: 11px 0;
}
.product_box1_in li:nth-child(1){
    border-right: 1px solid #fff;
}
.product_box1_in a{
    display: block;
    color: white;
    font-family: 'Pretendard';
    font-size: 15px;
}
.product_box1_in a:hover{
    opacity: 0.7;
}
  /* 푸터 */
footer {
    width: 100%;
    height: 724px;
    margin: auto;
    background: url(../images/sub3/footer.png) no-repeat center;
    max-width: 1920px;
    margin-top: 150px;
}

.footer_in {
    width: 90%;
    max-width: 1920px;
    margin: auto;
    padding: 235px 0 0 50px;
}

.f_text {
    margin-top: 40px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-family: 'Pretendard';
}

.c_i {
    margin-right: 80px;
}

.s {
    margin-right: 80px;
}

.f_text p {
    margin-bottom: 20px;
    font-size: 19px;
}

.f_text li {
    margin-bottom: 5px;
    font-size: 17px;
}

.insta {
    background: url(../images/sub3/instagram.png) no-repeat 0 60%;
    padding-left: 18px;
}

.kakao {
    background: url(../images/sub3/kakao.png) no-repeat 0 60%;
    padding-left: 18px;
}


