@charset "UTF-8";

@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');

@import url('https://webfontworld.github.io/goodchoice/Jalnan.css');

@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

@import url('https://webfontworld.github.io/woowahan/BMJua.css');

/* font-family: 'GmarketSans'; */
/* font-family: 'Jalnan'; */
/* font-family: 'Pretendard'; */
/* font-family: 'BMJua'; */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'GmarketSans';
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    min-width: 1320px;
    background-color: rgb(253, 250, 247);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* 마우스 따라다니는 선 */
html {
    cursor: none;
    scroll-behavior: smooth;
}

#drawing_line {
    position: relative;
    z-index: 1500;
    height: 0;
}

#drawing_line>svg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

#drawing_line>svg .drawing_line_polyline {
    fill: none;
    stroke: #f39fbf;
    stroke-width: 0;
}

#drawing_line>svg .drawing_line_circle {
    fill: #f39fbf;
}

/* 스크롤바 꾸미기 */
body::-webkit-scrollbar {
    /*스크롤바 전체*/
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    /*스크롤바 막대*/
    background-color: #f1b3c3;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-track {
    /*스크롤바 막대 외부*/
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

/* header */
header {
    background-color: rgb(253, 250, 247);
    position: relative;
    width: 100%;
    z-index: 1000;
    /* box-shadow: 0 2px 3px #e0d3c0; */
}

.header_in {
    width: 90%;
    max-width: 1700px;
    margin: auto;
    padding-top: 20px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    background-color: rgb(253, 250, 247);

}

.logo {
    display: block;
    padding-bottom: 25px;
}

.nav {
    width: 60%;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding-top: 10px;
}

.nav>li>a {
    font-size: 15px;
    font-weight: bold;
    display: block;
    color: #5e5e5e;
}

.member {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    padding-top: 10px;
}

.member li a {
    color: #ffd092;
    display: block;
    font-weight: bold;
    padding-left: 20px;
    margin-left: 30px;
}

.member_login {
    background: url(../images/sub3/login.png) no-repeat 0% 30%;
}

.member_cart {
    background: url(../images/sub3/cart.png) no-repeat 0% 10%;
}

.member li a:hover {
    opacity: 70%;
}

.nav>li:hover>a {
    color: #999;
}

.sub a:hover {
    color: #999;
}

/* 서브 */
.nav>li {
    position: relative;
    flex: 1;
    text-align: center;
}

.nav .sub_bg {
    background-color: rgb(245, 238, 232);
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 80px;
    display: none;
    z-index: 99;
}

.sub {
    position: absolute;
    width: 100%;
    padding-top: 50px;
    display: none;
    z-index: 100;
}

.sub a {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #666;
    display: block;
    font-family: 'Pretendard';
    padding-bottom: 10px;
}

/* 배너 */
.banner {
    width: 100%;
    min-width: 1320px;
    max-width: 1920px;
    margin: auto;
    position: relative;
}

.banner img {
    width: 100%;
}

.banner h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    margin-left: -100px;
    color: white;
    font-family: 'Jalnan';
    font-size: 44px;
    background: url(../images/sub5/title_bg.png) no-repeat 0% 55%;
    padding-left: 40px;
}

/* 진행중인 이벤트, 셀렉트 바 */
.event_top{
    width: 1200px;
    margin: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
}
.event_ing{
    margin-top: 110px;
    font-family: 'Pretendard';
}

select {
    margin-top: 100px;
    width: 120px;
    padding: .8em .9em;
    font-family: 'Pretendard';
    background: url(../images/sub5/select.png) no-repeat 93%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #999;
    border-radius: 80px;
  }
  
  select::-ms-expand {
    /* for IE 11 */
    display: none;
  }

  /* 이벤트 */
  .event_box{
    width: 1200px;
    margin: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
  }
  .event1_text{
    margin: 20px 0 70px 20px;
  }
  .event1_text h2{
    font-family: 'Jalnan';
    font-size: 22px;
    margin-bottom: 5px;
  }
  .event1_text p{
    font-family: 'Pretendard';
    font-size: 16px;
    margin-bottom: 20px;
  }
  .event1_in2,  .event1_in3,  .event1_in1,  .event1_in4{
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
  }
  .e4{
    margin-left: 20px;
  }
  .event1_in1 li:nth-child(1){
    font-family: 'Pretendard';
    font-size: 15px;
    color: #ec8db1;
    font-weight: 600;
    margin-right: 10px;
  }
  .event1_in1 li:nth-child(3){
    font-family: 'Pretendard';
    font-size: 15px;
    color: #ec8db1;
    font-weight: 600;
    margin-left: 12px;
  }
  .event1_in2 li:nth-child(1){
    font-family: 'Pretendard';
    font-size: 15px;
    color: #ec8db1;
    font-weight: 600;
    margin-right: 5px;
  }
  .event1_in2 li:nth-child(3){
    font-family: 'Pretendard';
    font-size: 15px;
    color: #ec8db1;
    font-weight: 600;
    margin-left: 8px;
  }
  .event1_in3 li:nth-child(1){
    font-family: 'Pretendard';
    font-size: 15px;
    color: #ec8db1;
    font-weight: 600;
    margin-right: 5px;
  }
  .event1_in3 li:nth-child(3){
    font-family: 'Pretendard';
    font-size: 15px;
    color: #ec8db1;
    font-weight: 600;
    margin-left: 8px;
  }
  .event1_in4 li:nth-child(1){
    font-family: 'Pretendard';
    font-size: 15px;
    color: #ec8db1;
    font-weight: 600;
    margin-right: 5px;
  }
  .event1_in4 li:nth-child(3){
    font-family: 'Pretendard';
    font-size: 15px;
    color: #ec8db1;
    font-weight: 600;
    margin-left: 8px;
  }
  .event4{
    margin-left: 20px;
  }
  .event_img img{
    transition: 0.5s;
  }
  .event_img img:hover{
    transform: scale(1.05, 1.05);
  }
   /* 푸터 */
footer {
    width: 100%;
    height: 724px;
    margin: auto;
    background: url(../images/sub3/footer.png) no-repeat center;
    max-width: 1920px;
    margin-top: 150px;
}

.footer_in {
    width: 90%;
    max-width: 1920px;
    margin: auto;
    padding: 235px 0 0 50px;
}

.f_text {
    margin-top: 40px;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-family: 'Pretendard';
}

.c_i {
    margin-right: 80px;
}

.s {
    margin-right: 80px;
}

.f_text p {
    margin-bottom: 20px;
    font-size: 19px;
}

.f_text li {
    margin-bottom: 5px;
    font-size: 17px;
}

.insta {
    background: url(../images/sub5/instagram.png) no-repeat 0 60%;
    padding-left: 18px;
}

.kakao {
    background: url(../images/sub5/kakao.png) no-repeat 0 60%;
    padding-left: 18px;
}